{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Bienvenue dans le tableau de bord d'administration</h1>
    <p>Cette page est protégée et accessible uniquement aux administrateurs.</p>
{% endblock %}
